<style>
    html { background-color: #1d2021; }
    body {
        margin: 40px auto;
        max-width: 1200px;
        line-height: 1.5;
        font-size: 18px;
        font-weight: 350;
        color: #fbf1c7;
        background: #282828;
        padding: 0 10px
    }
    h1,h2,h3 {
        line-height: 1.2
    }
    h1 {
        color: #a8ab16;
        font-weight: 800;
    }
    h2 {
        color: #b8bb26;
        font-weight: 700;
    }
    h3 {
        color: #c8cb36;
        font-weight: 600;
    }
    html:not(.inverted) a {
        color: #8ec07c;
        font-weight: 300;
    }
    html:not(.inverted) a:visited {
        color: #d3869b;
        font-weight: 300;
    }

    .implnote {
        color: #afcf92;
    }
    .sbnote {
        color: #9bb4a1;
    }
    .tldr {
        color: #fad473;
    }
    .intuition {
        color: #d3869b;
    }
    .alert {
        color: #de3012;
    }
    .info {
        color: #afcf92;
    }
</style>
